# 코로나 감염 시·도발생 현황 API

- 보건복지부
- https://www.data.go.kr/iim/api/selectAPIAcountView.do

- 코로나19감염증으로 인한 시.도별 신규확진자,신규사망자,격리중인환자수,격리해제환자수등에 대한 현황자료

- 03.보건복지부_OpenAPI활용가이드_코로나바이러스감염증_시도발생_현황 조회 서비스_v0.3 (2).docx 참고 하여 작성


- 날짜 / 시도명 / 확진자 수 / 지역발생 수

- resultCode	결과코드
- resultMsg	결과메세지
- numOfRows	한 페이지 결과 수
- pageNo	페이지 수
- totalCount	전체 결과 수
- SEQ	게시글번호(국내 시도별 발생현황 고유값)
- CREATE_DT 등록일시분초
- DEATH_CNT 사망자 수
- **GUBUN 시도명(한글)**
- GUBUN_CN 시도명(중국어)
- GUBUN_EN 시도명(영어)
- INC_DEC 전일대비 증감수
- ISOL_CLEAR_CNT 격리 해제 수
- QUR_RATE 10만명당 발생률
- **STD_DAY 기준일시**
- UPDATE_DT 수정일시분초
- **DEF_CNT 확진자 수** : 누적 확진자 수
- ISOL_ING_CNT 격리중 환자수
- OVER_FLOW_CNT 해외유입 수
- **LOCAL_OCC_CNT 지역발생 수** : 일별 확진자 수

## 데이터 불러오기

In [1]:
import urllib.request
import json
import pandas as pd
from datetime import datetime,timedelta
import requests
import xmltodict

## 코로나19감염증으로 인한 일별 확진자, 완치자, 치료중인환자, 사망자등에 대한 현황자료
url_base = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson'
url_serviceKey = 'zDi7%2BxdkbZUvy%2Bw2jREuuky26qthb6FliCJd4uJTY8qOo02u2VFch2k2zvE0GKtsF8nLCKxd7WqoNvU%2BuvCaUQ%3D%3D'
url_numOfRows = '1000'
url_start_date = '20200120'
url_end_date = datetime.today().strftime('%Y%m%d') # 현재시간 기준으로 데이터 불러오기

# Call Back URL + 인증키 +  페이지 번호(= 1) + 한 페이지 결과 수 + 데이터 생성일 시작 범위 + 데이터 생성일 종료 범위
url = url_base + '?serviceKey=' + url_serviceKey + '&pageNo=1' + '&num0fRows=' + url_numOfRows + '&startCreateDt=' + url_start_date + '&endCreateDt=' + url_end_date
url

'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson?serviceKey=zDi7%2BxdkbZUvy%2Bw2jREuuky26qthb6FliCJd4uJTY8qOo02u2VFch2k2zvE0GKtsF8nLCKxd7WqoNvU%2BuvCaUQ%3D%3D&pageNo=1&num0fRows=1000&startCreateDt=20200120&endCreateDt=20211130'

In [2]:
req = requests.get(url, allow_redirects=False).content

xmlObject = xmltodict.parse(req)

ExpatError: not well-formed (invalid token): line 1, column 102

In [37]:
dict_data = xmlObject['response']['body']['items']['item']

df = pd.DataFrame(dict_data)

In [38]:
pd.isna(df).sum()

createDt        0
deathCnt        0
defCnt          0
gubun           0
gubunCn         0
gubunEn         0
incDec          0
isolClearCnt    0
isolIngCnt      0
localOccCnt     0
overFlowCnt     0
qurRate         0
seq             0
stdDay          0
updateDt        0
dtype: int64

## 필요한 열만 남겨두기 & 열 이름 변경

In [39]:
df_conf = df.copy()

In [40]:
# 날짜, 시도명(한글), 확진자 수, 지역발생 수
# stdDay, gubun, defCnt, localOccCnt
df_conf = df_conf[['stdDay','gubun','defCnt','localOccCnt']]

df_conf.columns = ['날짜','시도명','확진자 수','지역발생 수']
df_conf

                      날짜 시도명  확진자 수 지역발생 수
0      2021년 11월 30일 00시  검역   6449      0
1      2021년 11월 30일 00시  제주   3704     21
2      2021년 11월 30일 00시  경남  15015     60
3      2021년 11월 30일 00시  경북  11268     68
4      2021년 11월 30일 00시  전남   4419     35
...                  ...  ..    ...    ...
12915  2020년 01월 20일 00시  전남      0      0
12916  2020년 01월 20일 00시  경북      0      0
12917  2020년 01월 20일 00시  경남      0      0
12918  2020년 01월 20일 00시  제주      0      0
12919  2020년 01월 20일 00시  검역      0      0

[12920 rows x 4 columns]

## 시도명 으로 묶기

In [47]:
# df_conf = df_conf[''].groupby(df_conf[''])
grouped = df_conf.groupby(['시도명', '날짜'], as_index=False).sum()
grouped

      시도명                 날짜   확진자 수 지역발생 수
0      강원  2020년 01월 20일 00시       0      0
1      강원  2020년 01월 21일 00시       0      0
2      강원  2020년 01월 22일 00시       0      0
3      강원  2020년 01월 23일 00시       0      0
4      강원  2020년 01월 24일 00시       0      0
...    ..                ...     ...    ...
12915  합계  2021년 11월 26일 00시  432901   3882
12916  합계  2021년 11월 27일 00시  436968   4045
12917  합계  2021년 11월 28일 00시  440896   3893
12918  합계  2021년 11월 29일 00시  444200   3286
12919  합계  2021년 11월 30일 00시  447230   3003

[12920 rows x 4 columns]

In [60]:
합계_df = grouped[grouped['시도명']=='합계']
합계_df

      시도명                 날짜   확진자 수 지역발생 수
12240  합계  2020년 01월 20일 00시       1      0
12241  합계  2020년 01월 21일 00시       1      0
12242  합계  2020년 01월 22일 00시       1      0
12243  합계  2020년 01월 23일 00시       1      0
12244  합계  2020년 01월 24일 00시       2      0
...    ..                ...     ...    ...
12915  합계  2021년 11월 26일 00시  432901   3882
12916  합계  2021년 11월 27일 00시  436968   4045
12917  합계  2021년 11월 28일 00시  440896   3893
12918  합계  2021년 11월 29일 00시  444200   3286
12919  합계  2021년 11월 30일 00시  447230   3003

[680 rows x 4 columns]

## 일일 확진자 도시별로 시트별로 저장

In [58]:
# 유일한 값 찾기
city_list = grouped['시도명'].unique().tolist()
city_list

['강원',
 '검역',
 '경기',
 '경남',
 '경북',
 '광주',
 '대구',
 '대전',
 '부산',
 '서울',
 '세종',
 '울산',
 '인천',
 '전남',
 '전북',
 '제주',
 '충남',
 '충북',
 '합계']

In [63]:
df_list = []

for city in city_list:
    df_list.append(grouped[grouped['시도명']==city])

In [68]:
df_list

[    시도명                 날짜 확진자 수 지역발생 수
 0    강원  2020년 01월 20일 00시     0      0
 1    강원  2020년 01월 21일 00시     0      0
 2    강원  2020년 01월 22일 00시     0      0
 3    강원  2020년 01월 23일 00시     0      0
 4    강원  2020년 01월 24일 00시     0      0
 ..   ..                ...   ...    ...
 675  강원  2021년 11월 26일 00시  8344     53
 676  강원  2021년 11월 27일 00시  8437     93
 677  강원  2021년 11월 28일 00시  8500     61
 678  강원  2021년 11월 29일 00시  8556     55
 679  강원  2021년 11월 30일 00시  8640     84

 [680 rows x 4 columns],
      시도명                 날짜 확진자 수 지역발생 수
 680   검역  2020년 01월 20일 00시     0      0
 681   검역  2020년 01월 21일 00시     0      0
 682   검역  2020년 01월 22일 00시     0      0
 683   검역  2020년 01월 23일 00시     0      0
 684   검역  2020년 01월 24일 00시     0      0
 ...   ..                ...   ...    ...
 1355  검역  2021년 11월 26일 00시  6423      0
 1356  검역  2021년 11월 27일 00시  6428      0
 1357  검역  2021년 11월 28일 00시  6438      0
 1358  검역  2021년 11월 29일 00시  6441      0
 1359  검역  2021년 11월 30일 00시  6449      0

 [680 rows x 4 columns],
      시도명                 날짜   확진자 수 지역발생 수
 1360  경기  2020년 01월 20일 00시       0      0
 1361  경기  2020년 01월 21일 00시       0      0
 1362  경기  2020년 01월 22일 00시       0      0
 1363  경기  2020년 01월 23일 00시       0      0
 1364  경기  2020년 01월 24일 00시       0      0
 ...   ..                ...     ...    ...
 2035  경기  2021년 11월 26일 00시  129456   1115
 2036  경기  2021년 11월 27일 00시  130565   1105
 2037  경기  2021년 11월 28일 00시  131655   1083
 2038  경기  2021년 11월 29일 00시  132565    905
 2039  경기  2021년 11월 30일 00시  133472    907

 [680 rows x 4 columns],
      시도명                 날짜  확진자 수 지역발생 수
 2040  경남  2020년 01월 20일 00시      0      0
 2041  경남  2020년 01월 21일 00시      0      0
 2042  경남  2020년 01월 22일 00시      0      0
 2043  경남  2020년 01월 23일 00시      0      0
 2044  경남  2020년 01월 24일 00시      0      0
 ...   ..                ...    ...    ...
 2715  경남  2021년 11월 26일 00시  14694     86
 2716  경남  2021년 11월 27일 00시  14781     87
 2717  경남  2021년 11월 28일 00시  14870     88
 2718  경남  2021년 11월 29일 00시  14955     85
 2719  경남  2021년 11월 30일 00시  15015     60

 [680 rows x 4 columns],
      시도명                 날짜  확진자 수 지역발생 수
 2720  경북  2020년 01월 20일 00시      0      0
 2721  경북  2020년 01월 21일 00시      0      0
 2722  경북  2020년 01월 22일 00시      0      0
 2723  경북  2020년 01월 23일 00시      0      0
 2724  경북  2020년 01월 24일 00시      0      0
 ...   ..                ...    ...    ...
 3395  경북  2021년 11월 26일 00시  10934    116
 3396  경북  2021년 11월 27일 00시  11029     95
 3397  경북  2021년 11월 28일 00시  11132    103
 3398  경북  2021년 11월 29일 00시  11200     67
 3399  경북  2021년 11월 30일 00시  11268     68

 [680 rows x 4 columns],
      시도명                 날짜 확진자 수 지역발생 수
 3400  광주  2020년 01월 20일 00시     0      0
 3401  광주  2020년 01월 21일 00시     0      0
 3402  광주  2020년 01월 22일 00시     0      0
 3403  광주  2020년 01월 23일 00시     0      0
 3404  광주  2020년 01월 24일 00시     0      0
 ...   ..                ...   ...    ...
 4075  광주  2021년 11월 26일 00시  6085     30
 4076  광주  2021년 11월 27일 00시  6120     35
 4077  광주  2021년 11월 28일 00시  6172     52
 4078  광주  2021년 11월 29일 00시  6233     61
 4079  광주  2021년 11월 30일 00시  6285     51

 [680 rows x 4 columns],
      시도명                 날짜  확진자 수 지역발생 수
 4080  대구  2020년 01월 20일 00시      0      0
 4081  대구  2020년 01월 21일 00시      0      0
 4082  대구  2020년 01월 22일 00시      0      0
 4083  대구  2020년 01월 23일 00시      0      0
 4084  대구  2020년 01월 24일 00시      0      0
 ...   ..                ...    ...    ...
 4755  대구  2021년 11월 26일 00시  18610    103
 4756  대구  2021년 11월 27일 00시  18686     76
 4757  대구  2021년 11월 28일 00시  18792    106
 4758  대구  2021년 11월 29일 00시  18880     87
 4759  대구  2021년 11월 30일 00시  18958     77

 [680 rows x 4 columns],
      시도명                 날짜 확진자 수 지역발생 수
 4760  대전  2020년 01월 20일 00시     0      0
 4761  대전  2020년 01월 21일 00시     0      0
 4762  대전  2020년 01월 22일 00시     0      0
 4763  대전  2020년 01월 23일 00시     0      0
 4764  대전  2020년 01월 24일 00시     0      0
 ...   ..                ...   ...    ...
 5435  대전  2021년 11월 26일 00시  8378     44
 5436  대전  2021년 11월 27일 00시  8416     38
 5437  대전  2021년 11월 28일 00시  8469     53
 5438  대전  2021년 11월 29일 00시  8512     43
 5439  대전  2021년 11월 30일 00시  8555     41

 [680 rows x 4 columns],
      시도명                 날짜  확진자 수 지역발생 수
 5440  부산  2020년 01월 20일 00시      0      0
 5441  부산  2020년 01월 21일 00시      0      0
 5442  부산  2020년 01월 22일 00시      0      0
 5443  부산  2020년 01월 23일 00시      0      0
 5444  부산  2020년 01월 24일 00시      0      0
 ...   ..                ...    ...    ...
 6115  부산  2021년 11월 26일 00시  15778     96
 6116  부산  2021년 11월 27일 00시  15883    104
 6117  부산  2021년 11월 28일 00시  16031    147
 6118  부산  2021년 11월 29일 00시  16175    144
 6119  부산  2021년 11월 30일 00시  16254     77

 [680 rows x 4 columns],
      시도명                 날짜   확진자 수 지역발생 수
 6120  서울  2020년 01월 20일 00시       0      0
 6121  서울  2020년 01월 21일 00시       0      0
 6122  서울  2020년 01월 22일 00시       0      0
 6123  서울  2020년 01월 23일 00시       0      0
 6124  서울  2020년 01월 24일 00시       1      0
 ...   ..                ...     ...    ...
 6795  서울  2021년 11월 26일 00시  148147   1739
 6796  서울  2021년 11월 27일 00시  150035   1881
 6797  서울  2021년 11월 28일 00시  151711   1668
 6798  서울  2021년 11월 29일 00시  153100   1386
 6799  서울  2021년 11월 30일 00시  154286   1176

 [680 rows x 4 columns],
      시도명                 날짜 확진자 수 지역발생 수
 6800  세종  2020년 01월 20일 00시     0      0
 6801  세종  2020년 01월 21일 00시     0      0
 6802  세종  2020년 01월 22일 00시     0      0
 6803  세종  2020년 01월 23일 00시     0      0
 6804  세종  2020년 01월 24일 00시     0      0
 ...   ..                ...   ...    ...
 7475  세종  2021년 11월 26일 00시  1507     15
 7476  세종  2021년 11월 27일 00시  1518     11
 7477  세종  2021년 11월 28일 00시  1523      5
 7478  세종  2021년 11월 29일 00시  1538     15
 7479  세종  2021년 11월 30일 00시  1560     22

 [680 rows x 4 columns],
      시도명                 날짜 확진자 수 지역발생 수
 7480  울산  2020년 01월 20일 00시     0      0
 7481  울산  2020년 01월 21일 00시     0      0
 7482  울산  2020년 01월 22일 00시     0      0
 7483  울산  2020년 01월 23일 00시     0      0
 7484  울산  2020년 01월 24일 00시     0      0
 ...   ..                ...   ...    ...
 8155  울산  2021년 11월 26일 00시  5624     13
 8156  울산  2021년 11월 27일 00시  5631      6
 8157  울산  2021년 11월 28일 00시  5635      4
 8158  울산  2021년 11월 29일 00시  5637      2
 8159  울산  2021년 11월 30일 00시  5640      3

 [680 rows x 4 columns],
      시도명                 날짜  확진자 수 지역발생 수
 8160  인천  2020년 01월 20일 00시      1      0
 8161  인천  2020년 01월 21일 00시      1      0
 8162  인천  2020년 01월 22일 00시      1      0
 8163  인천  2020년 01월 23일 00시      1      0
 8164  인천  2020년 01월 24일 00시      1      0
 ...   ..                ...    ...    ...
 8835  인천  2021년 11월 26일 00시  23627    245
 8836  인천  2021년 11월 27일 00시  23915    287
 8837  인천  2021년 11월 28일 00시  24193    276
 8838  인천  2021년 11월 29일 00시  24426    233
 8839  인천  2021년 11월 30일 00시  24618    191

 [680 rows x 4 columns],
      시도명                 날짜 확진자 수 지역발생 수
 8840  전남  2020년 01월 20일 00시     0      0
 8841  전남  2020년 01월 21일 00시     0      0
 8842  전남  2020년 01월 22일 00시     0      0
 8843  전남  2020년 01월 23일 00시     0      0
 8844  전남  2020년 01월 24일 00시     0      0
 ...   ..                ...   ...    ...
 9515  전남  2021년 11월 26일 00시  4294     38
 9516  전남  2021년 11월 27일 00시  4330     36
 9517  전남  2021년 11월 28일 00시  4355     25
 9518  전남  2021년 11월 29일 00시  4383     28
 9519  전남  2021년 11월 30일 00시  4419     35

 [680 rows x 4 columns],
       시도명                 날짜 확진자 수 지역발생 수
 9520   전북  2020년 01월 20일 00시     0      0
 9521   전북  2020년 01월 21일 00시     0      0
 9522   전북  2020년 01월 22일 00시     0      0
 9523   전북  2020년 01월 23일 00시     0      0
 9524   전북  2020년 01월 24일 00시     0      0
 ...    ..                ...   ...    ...
 10195  전북  2021년 11월 26일 00시  6138     45
 10196  전북  2021년 11월 27일 00시  6188     50
 10197  전북  2021년 11월 28일 00시  6233     44
 10198  전북  2021년 11월 29일 00시  6282     49
 10199  전북  2021년 11월 30일 00시  6332     50

 [680 rows x 4 columns],
       시도명                 날짜 확진자 수 지역발생 수
 10200  제주  2020년 01월 20일 00시     0      0
 10201  제주  2020년 01월 21일 00시     0      0
 10202  제주  2020년 01월 22일 00시     0      0
 10203  제주  2020년 01월 23일 00시     0      0
 10204  제주  2020년 01월 24일 00시     0      0
 ...    ..                ...   ...    ...
 10875  제주  2021년 11월 26일 00시  3576     32
 10876  제주  2021년 11월 27일 00시  3603     27
 10877  제주  2021년 11월 28일 00시  3638     35
 10878  제주  2021년 11월 29일 00시  3682     43
 10879  제주  2021년 11월 30일 00시  3704     21

 [680 rows x 4 columns],
       시도명                 날짜  확진자 수 지역발생 수
 10880  충남  2020년 01월 20일 00시      0      0
 10881  충남  2020년 01월 21일 00시      0      0
 10882  충남  2020년 01월 22일 00시      0      0
 10883  충남  2020년 01월 23일 00시      0      0
 10884  충남  2020년 01월 24일 00시      0      0
 ...    ..                ...    ...    ...
 11555  충남  2021년 11월 26일 00시  12597     87
 11556  충남  2021년 11월 27일 00시  12675     76
 11557  충남  2021년 11월 28일 00시  12796    120
 11558  충남  2021년 11월 29일 00시  12849     50
 11559  충남  2021년 11월 30일 00시  12930     81

 [680 rows x 4 columns],
       시도명                 날짜 확진자 수 지역발생 수
 11560  충북  2020년 01월 20일 00시     0      0
 11561  충북  2020년 01월 21일 00시     0      0
 11562  충북  2020년 01월 22일 00시     0      0
 11563  충북  2020년 01월 23일 00시     0      0
 11564  충북  2020년 01월 24일 00시     0      0
 ...    ..                ...   ...    ...
 12235  충북  2021년 11월 26일 00시  8689     25
 12236  충북  2021년 11월 27일 00시  8728     38
 12237  충북  2021년 11월 28일 00시  8753     23
 12238  충북  2021년 11월 29일 00시  8786     33
 12239  충북  2021년 11월 30일 00시  8845     59

 [680 rows x 4 columns],
       시도명                 날짜   확진자 수 지역발생 수
 12240  합계  2020년 01월 20일 00시       1      0
 12241  합계  2020년 01월 21일 00시       1      0
 12242  합계  2020년 01월 22일 00시       1      0
 12243  합계  2020년 01월 23일 00시       1      0
 12244  합계  2020년 01월 24일 00시       2      0
 ...    ..                ...     ...    ...
 12915  합계  2021년 11월 26일 00시  432901   3882
 12916  합계  2021년 11월 27일 00시  436968   4045
 12917  합계  2021년 11월 28일 00시  440896   3893
 12918  합계  2021년 11월 29일 00시  444200   3286
 12919  합계  2021년 11월 30일 00시  447230   3003

 [680 rows x 4 columns]]

In [61]:
import datetime as dt
from datetime import datetime, timedelta

def get_date(y, m, d):
    s = f'{y:04d}-{m:02d}-{d:02d}'
    return datetime.strptime(s, '%Y-%m-%d')

def get_week_no(y, m, d):
    target = get_date(y, m, d)
    firstday = target.replace(day = 1)
    if firstday.weekday() == 6:
        origin = firstday
    elif firstday.weekday() < 3:
        origin = firstday - timedelta(days=firstday.weekday() + 1)
    else:
        origin = firstday + timedelta(days = 6-firstday.weekday())
    return (target - origin).days // 7 + 1

In [62]:
n = dt.datetime.now()

writer = pd.ExcelWriter('국내 코로나 확진자-지역별 일일 현황_{}년 {}월 {}주차.xlsx'
                        .format(n.year, n.month, get_week_no(n.year, n.month, n.day)), 
                        engine = 'xlsxwriter')

In [1]:
a =1

In [71]:
for i, df in enumerate(df_list):
    print(city_list[i])
    print(df)
    # df.to_excel(writer, index = False, sheet_name = city_list[i])
    
# writer.save()

강원
    시도명                 날짜 확진자 수 지역발생 수
0    강원  2020년 01월 20일 00시     0      0
1    강원  2020년 01월 21일 00시     0      0
2    강원  2020년 01월 22일 00시     0      0
3    강원  2020년 01월 23일 00시     0      0
4    강원  2020년 01월 24일 00시     0      0
..   ..                ...   ...    ...
675  강원  2021년 11월 26일 00시  8344     53
676  강원  2021년 11월 27일 00시  8437     93
677  강원  2021년 11월 28일 00시  8500     61
678  강원  2021년 11월 29일 00시  8556     55
679  강원  2021년 11월 30일 00시  8640     84

[680 rows x 4 columns]
검역
     시도명                 날짜 확진자 수 지역발생 수
680   검역  2020년 01월 20일 00시     0      0
681   검역  2020년 01월 21일 00시     0      0
682   검역  2020년 01월 22일 00시     0      0
683   검역  2020년 01월 23일 00시     0      0
684   검역  2020년 01월 24일 00시     0      0
...   ..                ...   ...    ...
1355  검역  2021년 11월 26일 00시  6423      0
1356  검역  2021년 11월 27일 00시  6428      0
1357  검역  2021년 11월 28일 00시  6438      0
1358  검역  2021년 11월 29일 00시  6441      0
1359  검역  2021년 11월 30일 00시  6449      0

[680 rows x 4 columns]
경기
     시도명                 날짜   확진자 수 지역발생 수
1360  경기  2020년 01월 20일 00시       0      0
1361  경기  2020년 01월 21일 00시       0      0
1362  경기  2020년 01월 22일 00시       0      0
1363  경기  2020년 01월 23일 00시       0      0
1364  경기  2020년 01월 24일 00시       0      0
...   ..                ...     ...    ...
2035  경기  2021년 11월 26일 00시  129456   1115
2036  경기  2021년 11월 27일 00시  130565   1105
2037  경기  2021년 11월 28일 00시  131655   1083
2038  경기  2021년 11월 29일 00시  132565    905
2039  경기  2021년 11월 30일 00시  133472    907

[680 rows x 4 columns]
경남
     시도명                 날짜  확진자 수 지역발생 수
2040  경남  2020년 01월 20일 00시      0      0
2041  경남  2020년 01월 21일 00시      0      0
2042  경남  2020년 01월 22일 00시      0      0
2043  경남  2020년 01월 23일 00시      0      0
2044  경남  2020년 01월 24일 00시      0      0
...   ..                ...    ...    ...
2715  경남  2021년 11월 26일 00시  14694     86
2716  경남  2021년 11월 27일 00시  14781     87
2717  경남  2021년 11월 28일 00시  14870     88
2718  경남  2021년 11월 29일 00시  14955     85
2719  경남  2021년 11월 30일 00시  15015     60

[680 rows x 4 columns]
경북
     시도명                 날짜  확진자 수 지역발생 수
2720  경북  2020년 01월 20일 00시      0      0
2721  경북  2020년 01월 21일 00시      0      0
2722  경북  2020년 01월 22일 00시      0      0
2723  경북  2020년 01월 23일 00시      0      0
2724  경북  2020년 01월 24일 00시      0      0
...   ..                ...    ...    ...
3395  경북  2021년 11월 26일 00시  10934    116
3396  경북  2021년 11월 27일 00시  11029     95
3397  경북  2021년 11월 28일 00시  11132    103
3398  경북  2021년 11월 29일 00시  11200     67
3399  경북  2021년 11월 30일 00시  11268     68

[680 rows x 4 columns]
광주
     시도명                 날짜 확진자 수 지역발생 수
3400  광주  2020년 01월 20일 00시     0      0
3401  광주  2020년 01월 21일 00시     0      0
3402  광주  2020년 01월 22일 00시     0      0
3403  광주  2020년 01월 23일 00시     0      0
3404  광주  2020년 01월 24일 00시     0      0
...   ..                ...   ...    ...
4075  광주  2021년 11월 26일 00시  6085     30
4076  광주  2021년 11월 27일 00시  6120     35
4077  광주  2021년 11월 28일 00시  6172     52
4078  광주  2021년 11월 29일 00시  6233     61
4079  광주  2021년 11월 30일 00시  6285     51

[680 rows x 4 columns]
대구
     시도명                 날짜  확진자 수 지역발생 수
4080  대구  2020년 01월 20일 00시      0      0
4081  대구  2020년 01월 21일 00시      0      0
4082  대구  2020년 01월 22일 00시      0      0
4083  대구  2020년 01월 23일 00시      0      0
4084  대구  2020년 01월 24일 00시      0      0
...   ..                ...    ...    ...
4755  대구  2021년 11월 26일 00시  18610    103
4756  대구  2021년 11월 27일 00시  18686     76
4757  대구  2021년 11월 28일 00시  18792    106
4758  대구  2021년 11월 29일 00시  18880     87
4759  대구  2021년 11월 30일 00시  18958     77

[680 rows x 4 columns]
대전
     시도명                 날짜 확진자 수 지역발생 수
4760  대전  2020년 01월 20일 00시     0      0
4761  대전  2020년 01월 21일 00시     0      0
4762  대전  2020년 01월 22일 00시     0      0
4763  대전  2020년 01월 23일 00시     0      0
4764  대전  2020년 01월 24일 00시     0      0
...   ..                ...   ...    ...
5435  대전  2021년 11월 26일 00시  8378     44
5436  대전  2021년 11월 27일 00시  8416     38
5437  대전  2021년 11월 28일 00시  8469     53
5438  대전  2021년 11월 29일 00시  8512     43
5439  대전  2021년 11월 30일 00시  8555     41

[680 rows x 4 columns]
부산
     시도명                 날짜  확진자 수 지역발생 수
5440  부산  2020년 01월 20일 00시      0      0
5441  부산  2020년 01월 21일 00시      0      0
5442  부산  2020년 01월 22일 00시      0      0
5443  부산  2020년 01월 23일 00시      0      0
5444  부산  2020년 01월 24일 00시      0      0
...   ..                ...    ...    ...
6115  부산  2021년 11월 26일 00시  15778     96
6116  부산  2021년 11월 27일 00시  15883    104
6117  부산  2021년 11월 28일 00시  16031    147
6118  부산  2021년 11월 29일 00시  16175    144
6119  부산  2021년 11월 30일 00시  16254     77

[680 rows x 4 columns]
서울
     시도명                 날짜   확진자 수 지역발생 수
6120  서울  2020년 01월 20일 00시       0      0
6121  서울  2020년 01월 21일 00시       0      0
6122  서울  2020년 01월 22일 00시       0      0
6123  서울  2020년 01월 23일 00시       0      0
6124  서울  2020년 01월 24일 00시       1      0
...   ..                ...     ...    ...
6795  서울  2021년 11월 26일 00시  148147   1739
6796  서울  2021년 11월 27일 00시  150035   1881
6797  서울  2021년 11월 28일 00시  151711   1668
6798  서울  2021년 11월 29일 00시  153100   1386
6799  서울  2021년 11월 30일 00시  154286   1176

[680 rows x 4 columns]
세종
     시도명                 날짜 확진자 수 지역발생 수
6800  세종  2020년 01월 20일 00시     0      0
6801  세종  2020년 01월 21일 00시     0      0
6802  세종  2020년 01월 22일 00시     0      0
6803  세종  2020년 01월 23일 00시     0      0
6804  세종  2020년 01월 24일 00시     0      0
...   ..                ...   ...    ...
7475  세종  2021년 11월 26일 00시  1507     15
7476  세종  2021년 11월 27일 00시  1518     11
7477  세종  2021년 11월 28일 00시  1523      5
7478  세종  2021년 11월 29일 00시  1538     15
7479  세종  2021년 11월 30일 00시  1560     22

[680 rows x 4 columns]
울산
     시도명                 날짜 확진자 수 지역발생 수
7480  울산  2020년 01월 20일 00시     0      0
7481  울산  2020년 01월 21일 00시     0      0
7482  울산  2020년 01월 22일 00시     0      0
7483  울산  2020년 01월 23일 00시     0      0
7484  울산  2020년 01월 24일 00시     0      0
...   ..                ...   ...    ...
8155  울산  2021년 11월 26일 00시  5624     13
8156  울산  2021년 11월 27일 00시  5631      6
8157  울산  2021년 11월 28일 00시  5635      4
8158  울산  2021년 11월 29일 00시  5637      2
8159  울산  2021년 11월 30일 00시  5640      3

[680 rows x 4 columns]
인천
     시도명                 날짜  확진자 수 지역발생 수
8160  인천  2020년 01월 20일 00시      1      0
8161  인천  2020년 01월 21일 00시      1      0
8162  인천  2020년 01월 22일 00시      1      0
8163  인천  2020년 01월 23일 00시      1      0
8164  인천  2020년 01월 24일 00시      1      0
...   ..                ...    ...    ...
8835  인천  2021년 11월 26일 00시  23627    245
8836  인천  2021년 11월 27일 00시  23915    287
8837  인천  2021년 11월 28일 00시  24193    276
8838  인천  2021년 11월 29일 00시  24426    233
8839  인천  2021년 11월 30일 00시  24618    191

[680 rows x 4 columns]
전남
     시도명                 날짜 확진자 수 지역발생 수
8840  전남  2020년 01월 20일 00시     0      0
8841  전남  2020년 01월 21일 00시     0      0
8842  전남  2020년 01월 22일 00시     0      0
8843  전남  2020년 01월 23일 00시     0      0
8844  전남  2020년 01월 24일 00시     0      0
...   ..                ...   ...    ...
9515  전남  2021년 11월 26일 00시  4294     38
9516  전남  2021년 11월 27일 00시  4330     36
9517  전남  2021년 11월 28일 00시  4355     25
9518  전남  2021년 11월 29일 00시  4383     28
9519  전남  2021년 11월 30일 00시  4419     35

[680 rows x 4 columns]
전북
      시도명                 날짜 확진자 수 지역발생 수
9520   전북  2020년 01월 20일 00시     0      0
9521   전북  2020년 01월 21일 00시     0      0
9522   전북  2020년 01월 22일 00시     0      0
9523   전북  2020년 01월 23일 00시     0      0
9524   전북  2020년 01월 24일 00시     0      0
...    ..                ...   ...    ...
10195  전북  2021년 11월 26일 00시  6138     45
10196  전북  2021년 11월 27일 00시  6188     50
10197  전북  2021년 11월 28일 00시  6233     44
10198  전북  2021년 11월 29일 00시  6282     49
10199  전북  2021년 11월 30일 00시  6332     50

[680 rows x 4 columns]
제주
      시도명                 날짜 확진자 수 지역발생 수
10200  제주  2020년 01월 20일 00시     0      0
10201  제주  2020년 01월 21일 00시     0      0
10202  제주  2020년 01월 22일 00시     0      0
10203  제주  2020년 01월 23일 00시     0      0
10204  제주  2020년 01월 24일 00시     0      0
...    ..                ...   ...    ...
10875  제주  2021년 11월 26일 00시  3576     32
10876  제주  2021년 11월 27일 00시  3603     27
10877  제주  2021년 11월 28일 00시  3638     35
10878  제주  2021년 11월 29일 00시  3682     43
10879  제주  2021년 11월 30일 00시  3704     21

[680 rows x 4 columns]
충남
      시도명                 날짜  확진자 수 지역발생 수
10880  충남  2020년 01월 20일 00시      0      0
10881  충남  2020년 01월 21일 00시      0      0
10882  충남  2020년 01월 22일 00시      0      0
10883  충남  2020년 01월 23일 00시      0      0
10884  충남  2020년 01월 24일 00시      0      0
...    ..                ...    ...    ...
11555  충남  2021년 11월 26일 00시  12597     87
11556  충남  2021년 11월 27일 00시  12675     76
11557  충남  2021년 11월 28일 00시  12796    120
11558  충남  2021년 11월 29일 00시  12849     50
11559  충남  2021년 11월 30일 00시  12930     81

[680 rows x 4 columns]
충북
      시도명                 날짜 확진자 수 지역발생 수
11560  충북  2020년 01월 20일 00시     0      0
11561  충북  2020년 01월 21일 00시     0      0
11562  충북  2020년 01월 22일 00시     0      0
11563  충북  2020년 01월 23일 00시     0      0
11564  충북  2020년 01월 24일 00시     0      0
...    ..                ...   ...    ...
12235  충북  2021년 11월 26일 00시  8689     25
12236  충북  2021년 11월 27일 00시  8728     38
12237  충북  2021년 11월 28일 00시  8753     23
12238  충북  2021년 11월 29일 00시  8786     33
12239  충북  2021년 11월 30일 00시  8845     59

[680 rows x 4 columns]
합계
      시도명                 날짜   확진자 수 지역발생 수
12240  합계  2020년 01월 20일 00시       1      0
12241  합계  2020년 01월 21일 00시       1      0
12242  합계  2020년 01월 22일 00시       1      0
12243  합계  2020년 01월 23일 00시       1      0
12244  합계  2020년 01월 24일 00시       2      0
...    ..                ...     ...    ...
12915  합계  2021년 11월 26일 00시  432901   3882
12916  합계  2021년 11월 27일 00시  436968   4045
12917  합계  2021년 11월 28일 00시  440896   3893
12918  합계  2021년 11월 29일 00시  444200   3286
12919  합계  2021년 11월 30일 00시  447230   3003

[680 rows x 4 columns]

In [6]:
# 공공데이터포털의 일일값의 합과 누적값에 차이 있어
# 명확한 가이드라인이 주어지지 않으면 누적값을 차분에 계산

# 숫자여야 할 열(누적확진자)이 object로 되어있으므로 숫자로 형변환 필요
df_conf_1.iloc[:,7] = df_conf_1.iloc[:,7].apply(pd.to_numeric)

# 누적확진자를 일일확진자로 변경
# 전날 decideCnt - 당일 decideCnt = 당일 확진자 수
df_conf_1['daily_decideCnt'] = df_conf_1['decideCnt'].diff()


# 숫자여야 할 열(누적 사망자 수)이 object로 되어있으므로 숫자로 형변환
df_conf_1.iloc[:,6] = df_conf_1.iloc[:,6].apply(pd.to_numeric)

# 누적 사망자를 일일 사망자로 변경
# 전날 deathCnt - 당일 deathCnt = 당일 사망자 수
df_conf_1['daily_deathCnt'] = df_conf_1['deathCnt'].diff()


# 숫자여야 할 열(누적검사수)이 object로 되어있으므로 숫자로 형변환 필요
df_conf_1.iloc[:,1] = df_conf_1.iloc[:,1].apply(pd.to_numeric)
# 누적검사수를 일일검사수로 변경
df_conf_1['daily_ExamCnt'] = df_conf_1['accExamCnt'].diff()

# 날짜, 확진자 수, 누적 확진자 수, 사망자 수, 누적 사망자 수, 검사자 수, 누적 검사자 수
# 1차 백신 접종자 수, 누적 1차 백신 접종자 수, 2차 백신 접종자 수, 누적 2차 백신 접종자 수
df_conf_2 = df_conf_1[['stateDt','daily_decideCnt','decideCnt','daily_deathCnt','deathCnt','daily_ExamCnt','accExamCnt']]

df_conf_2.columns = ['날짜','확진자 수','누적 확진자 수','사망자 수','누적 사망자 수','검사자 수','누적 검사자 수']

In [7]:
df_conf_2

           날짜   확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
674  20200120     NaN         1    NaN         0      NaN         4
673  20200121     0.0         1    0.0         0     11.0        15
672  20200122     0.0         1    0.0         0      6.0        21
671  20200123     0.0         1    0.0         0      4.0        25
670  20200124     1.0         2    0.0         0      4.0        29
..        ...     ...       ...    ...       ...      ...       ...
4    20211121  3120.0    415423   30.0      3274  37560.0  16777680
3    20211122  2827.0    418250   24.0      3298  38937.0  16816617
2    20211123  2699.0    420949   30.0      3328  62341.0  16878958
1    20211124  4115.0    425064   34.0      3362  60970.0  16939928
0    20211125  3938.0    429002   39.0      3401  58811.0  16998739

[675 rows x 7 columns]

In [8]:
df_conf_2.loc[df_conf_2['날짜'] == '20200120', '확진자 수'] = '1'
df_conf_2

C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

           날짜   확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
674  20200120       1         1    NaN         0      NaN         4
673  20200121     0.0         1    0.0         0     11.0        15
672  20200122     0.0         1    0.0         0      6.0        21
671  20200123     0.0         1    0.0         0      4.0        25
670  20200124     1.0         2    0.0         0      4.0        29
..        ...     ...       ...    ...       ...      ...       ...
4    20211121  3120.0    415423   30.0      3274  37560.0  16777680
3    20211122  2827.0    418250   24.0      3298  38937.0  16816617
2    20211123  2699.0    420949   30.0      3328  62341.0  16878958
1    20211124  4115.0    425064   34.0      3362  60970.0  16939928
0    20211125  3938.0    429002   39.0      3401  58811.0  16998739

[675 rows x 7 columns]

In [9]:
df_conf_2.head(50)

           날짜  확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
674  20200120      1         1    NaN         0      NaN         4
673  20200121    0.0         1    0.0         0     11.0        15
672  20200122    0.0         1    0.0         0      6.0        21
671  20200123    0.0         1    0.0         0      4.0        25
670  20200124    1.0         2    0.0         0      4.0        29
669  20200125    0.0         2    0.0         0     18.0        47
668  20200126    1.0         3    0.0         0      9.0        56
667  20200127    1.0         4    0.0         0     28.0        84
666  20200128    0.0         4    0.0         0     53.0       137
665  20200129    0.0         4    0.0         0     71.0       208
664  20200130    3.0         7    0.0         0     67.0       275
663  20200131    4.0        11    0.0         0     60.0       335
662  20200201    1.0        12    0.0         0     36.0       371
661  20200202    3.0        15    0.0         0     58.0       429
660  20200203    0.0        15    0.0         0     61.0       490
659  20200204    1.0        16    0.0         0    117.0       607
658  20200205    5.0        21    0.0         0    107.0       714
657  20200206    3.0        24    0.0         0    171.0       885
656  20200207    0.0        24    0.0         0    245.0      1130
655  20200208    0.0        24    0.0         0    571.0      1701
654  20200209    3.0        27    0.0         0    639.0      2340
653  20200210    1.0        28    0.0         0    436.0      2776
652  20200211    0.0        28    0.0         0    853.0      3629
651  20200212    0.0        28    0.0         0   1445.0      5074
650  20200213    0.0        28    0.0         0    723.0      5797
649  20200214    0.0        28    0.0         0   1057.0      6854
648  20200215    0.0        28    0.0         0    665.0      7519
647  20200216    2.0        30    0.0         0    400.0      7919
646  20200217    0.0        30    0.0         0    252.0      8171
645  20200218    2.0        32    0.0         0   1094.0      9265
644  20200219   34.0        66    0.0         0   1146.0     10411
643  20200220   16.0        82    1.0         1   1750.0     12161
642  20200221   74.0       156    0.0         1   2655.0     14816
641  20200222  190.0       346    2.0         3   4805.0     19621
640  20200223  210.0       556    0.0         3   3012.0     22633
639  20200224  207.0       763    4.0         7   5982.0     28615
638  20200225  130.0       893    1.0         8   8101.0     36716
637  20200226  253.0      1146    3.0        11   9411.0     46127
636  20200227  449.0      1595    1.0        12  11863.0     57990
635  20200228  427.0      2022    1.0        13  12950.0     70940
634  20200229  909.0      2931    3.0        16  14753.0     85693
633  20200301  595.0      3526    1.0        17  11292.0     96985
632  20200302  686.0      4212    6.0        23  12606.0    109591
631  20200303  600.0      4812    5.0        28  16260.0    125851
630  20200304  516.0      5328    4.0        32  10856.0    136707
629  20200305  438.0      5766    3.0        35   9834.0    146541
628  20200306  518.0      6284    7.0        42  18199.0    164740
627  20200307  483.0      6767    2.0        44  13449.0    178189
626  20200308  367.0      7134    6.0        50  10329.0    188518
625  20200309  248.0      7382    1.0        51   8100.0    196618

In [10]:
df_conf_2.tail(20)

          날짜   확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
19  20211106  2246.0    377708   20.0      2956  47518.0  16099185
18  20211107  2225.0    379933   11.0      2967  31687.0  16130872
17  20211108  1754.0    381687   13.0      2980  29956.0  16160828
16  20211109  1717.0    383404   18.0      2998  52042.0  16212870
15  20211110  2425.0    385829   14.0      3012  49007.0  16261877
14  20211111  2518.0    388347   21.0      3033  50894.0  16312771
13  20211112  2368.0    390715   18.0      3051  48257.0  16361028
12  20211113  2324.0    393039   32.0      3083  47570.0  16408598
11  20211114  2418.0    395457   20.0      3103  31829.0  16440427
10  20211115  2004.0    397461   12.0      3115  30542.0  16470969
9   20211116  2122.0    399583   22.0      3137  54415.0  16525384
8   20211117  3189.0    402772   21.0      3158  50496.0  16575880
7   20211118  3292.0    406064   29.0      3187  55393.0  16631273
6   20211119  3034.0    409098   28.0      3215  52896.0  16684169
5   20211120  3205.0    412303   29.0      3244  55951.0  16740120
4   20211121  3120.0    415423   30.0      3274  37560.0  16777680
3   20211122  2827.0    418250   24.0      3298  38937.0  16816617
2   20211123  2699.0    420949   30.0      3328  62341.0  16878958
1   20211124  4115.0    425064   34.0      3362  60970.0  16939928
0   20211125  3938.0    429002   39.0      3401  58811.0  16998739

## 시트별로 저장하기

- 현재 날짜에 맞춰 '2021년  N월 M주차_국내 코로나 확진자-백신접종자 현황'으로 저장하기

In [61]:
import datetime as dt
from datetime import datetime, timedelta

def get_date(y, m, d):
    s = f'{y:04d}-{m:02d}-{d:02d}'
    return datetime.strptime(s, '%Y-%m-%d')

def get_week_no(y, m, d):
    target = get_date(y, m, d)
    firstday = target.replace(day = 1)
    if firstday.weekday() == 6:
        origin = firstday
    elif firstday.weekday() < 3:
        origin = firstday - timedelta(days=firstday.weekday() + 1)
    else:
        origin = firstday + timedelta(days = 6-firstday.weekday())
    return (target - origin).days // 7 + 1

In [62]:
n = dt.datetime.now()

writer = pd.ExcelWriter('국내 코로나 확진자-지역별 일일 현황_{}년 {}월 {}주차.xlsx'
                        .format(n.year, n.month, get_week_no(n.year, n.month, n.day)), 
                        engine = 'xlsxwriter')

In [125]:
for i, df in enumerate(df_list):
    df.to_excel(writer, index = False, sheet_name = region[i])
    
writer.save()