# 코로나 감염 시·도발생 현황 API

- 보건복지부
- https://www.data.go.kr/iim/api/selectAPIAcountView.do

- 코로나19감염증으로 인한 시.도별 신규확진자,신규사망자,격리중인환자수,격리해제환자수등에 대한 현황자료

- 03.보건복지부_OpenAPI활용가이드_코로나바이러스감염증_시도발생_현황 조회 서비스_v0.3 (2).docx 참고 하여 작성


- 날짜 / 시도명 / 확진자 수 / 지역발생 수

- resultCode	결과코드
- resultMsg	결과메세지
- numOfRows	한 페이지 결과 수
- pageNo	페이지 수
- totalCount	전체 결과 수
- SEQ	게시글번호(국내 시도별 발생현황 고유값)
- CREATE_DT 등록일시분초
- DEATH_CNT 사망자 수
- **GUBUN 시도명(한글)**
- GUBUN_CN 시도명(중국어)
- GUBUN_EN 시도명(영어)
- INC_DEC 전일대비 증감수
- ISOL_CLEAR_CNT 격리 해제 수
- QUR_RATE 10만명당 발생률
- **STD_DAY 기준일시**
- UPDATE_DT 수정일시분초
- **DEF_CNT 확진자 수**
- ISOL_ING_CNT 격리중 환자수
- OVER_FLOW_CNT 해외유입 수
- **LOCAL_OCC_CNT 지역발생 수**

In [35]:
import urllib.request
import json
import pandas as pd
from datetime import datetime,timedelta
import requests
import xmltodict

## 코로나19감염증으로 인한 일별 확진자, 완치자, 치료중인환자, 사망자등에 대한 현황자료
url_base = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson'
url_serviceKey = 'zDi7%2BxdkbZUvy%2Bw2jREuuky26qthb6FliCJd4uJTY8qOo02u2VFch2k2zvE0GKtsF8nLCKxd7WqoNvU%2BuvCaUQ%3D%3D'
url_numOfRows = '1000'
url_start_date = '20200120'
url_end_date = datetime.today().strftime('%Y%m%d') # 현재시간 기준으로 데이터 불러오기

# Call Back URL + 인증키 +  페이지 번호(= 1) + 한 페이지 결과 수 + 데이터 생성일 시작 범위 + 데이터 생성일 종료 범위
# url = url_base + '?serviceKey=' + url_serviceKey + '&pageNo=1' + '&num0fRows=' + url_numOfRows + '&startCreateDt=' + url_start_date + '&endCreateDt=' + url_end_date
url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson?serviceKey=zDi7%2BxdkbZUvy%2Bw2jREuuky26qthb6FliCJd4uJTY8qOo02u2VFch2k2zvE0GKtsF8nLCKxd7WqoNvU%2BuvCaUQ%3D%3D&pageNo=1&numOfRows=10&startCreateDt=20200410&endCreateDt=20200410'

In [36]:
req = requests.get(url).content

xmlObject = xmltodict.parse(req)
xmlObject

OrderedDict([('response',
              OrderedDict([('header',
                            OrderedDict([('resultCode', '99'),
                                         ('resultMsg',
                                          'SERVICE ACCESS DENIED ERROR.')]))]))])

In [26]:
dict_data = xmlObject['response']['body']['items']['item']

df_conf = pd.DataFrame(dict_data)

In [27]:
df_conf

                                          header
resultCode                                    99
resultMsg   SERVICE KEY IS NOT REGISTERED ERROR.

In [4]:
# 20210531 데이터 없음
df_21_05 = df_conf[df_conf['stateDt'].str.contains('202105')]
df_21_05.head(10)

,accDefRate,accExamCnt,accExamCompCnt,careCnt,clearCnt,createDt,deathCnt,decideCnt,examCnt,resutlNegCnt,seq,stateDt,stateTime,updateDt
178,1.4568051768,9761156,9633203,7561,130817,2021-05-30 00:00:00.0,1959,140337,127953,9492866,498,20210531,00:00,2021-10-14 13:48:56.821
179,1.454165571,9747612,9621119,7576,130374,2021-05-30 00:00:00.000,1957,139907,126493,9481212,497,20210530,00:00,2021-10-07 10:30:51.51
180,1.450883775,9733588,9609798,7745,129731,2021-05-29 00:00:00.000,1951,139427,123790,9470371,496,20210529,00:00,2021-10-07 10:30:51.51
181,1.449896399,9702453,9579581,8198,128750,2021-05-28 00:00:00.000,1946,138894,122872,9440687,495,20210528,00:00,2021-10-07 10:30:51.51
182,1.449298446,9665690,9543031,8195,128169,2021-05-27 00:00:00.000,1943,138307,122659,9404724,494,20210527,00:00,2021-10-07 10:30:51.51
183,1.447963934,9629455,9508386,8176,127562,2021-05-26 00:00:00.000,1940,137678,121069,9370708,493,20210526,00:00,2021-10-07 10:30:51.51
184,1.445529521,9592726,9475628,8052,126983,2021-05-25 00:00:00.000,1938,136973,117098,9338655,492,20210525,00:00,2021-10-07 10:30:51.51
185,1.446605861,9553612,9432908,8105,126418,2021-05-24 00:00:00.000,1934,136457,120704,9296451,491,20210524,00:00,2021-10-07 10:30:51.51
186,1.443871791,9536298,9414063,8165,125831,2021-05-23 00:00:00.000,1931,135927,122235,9278136,490,20210523,00:00,2021-10-07 10:30:51.51
187,1.439286846,9520965,9403407,8392,125024,2021-05-22 00:00:00.000,1926,135342,117558,9268065,489,20210522,00:00,2021-10-07 10:30:51.51

In [5]:
# 불러온 데이터 중 하루에 두 번 이상 데이터가 존재하는 경우를 대비해(오전, 오후), 하루 중 마지막에 발표한 데이터로 중복 처리
df_conf = df_conf.drop_duplicates(['stateDt'])

# 데이터를 날짜순으로 오름차순 정리
df_conf_1 = df_conf.sort_values(by='stateDt')
df_conf_1

,accDefRate,accExamCnt,accExamCompCnt,careCnt,clearCnt,createDt,deathCnt,decideCnt,examCnt,resutlNegCnt,seq,stateDt,stateTime,updateDt
674,25,4,4,1,0,2020-01-20 17:00:00.000,0,1,0,3,1,20200120,17:00,2021-10-07 10:30:51.51
673,6.666666667,15,15,1,0,2020-01-21 09:00:00.000,0,1,0,14,2,20200121,09:00,2021-10-07 10:30:51.51
672,4.761904762,21,21,1,0,2020-01-22 12:00:00.000,0,1,0,20,3,20200122,12:00,2021-10-07 10:30:51.51
671,4,25,25,1,0,2020-01-23 09:00:00.000,0,1,0,24,4,20200123,09:00,2021-10-07 10:30:51.51
670,6.896551724,29,29,2,0,2020-01-24 00:00:00.000,0,2,0,27,5,20200124,00:00,2021-10-07 10:30:51.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2.7608290747,16777680,15047038,36395,375754,2021-11-21 09:05:22.138,3274,415423,1730642,14631615,704,20211121,00:00,2021-11-24 09:09:07.469
3,2.7782553048,16816617,15054412,38247,376705,2021-11-22 09:07:45.615,3298,418250,1762205,14636162,705,20211122,00:00,2021-11-24 09:09:25.411
2,2.7879274605,16878958,15098994,39061,378560,2021-11-23 08:59:47.863,3328,420949,1779964,14678045,706,20211123,00:00,2021-11-24 09:09:37.481
1,2.8070536911,16939928,15142710,41326,380376,2021-11-24 09:08:22.071,3362,425064,1797218,14717646,707,20211124,00:00,2021-11-25 09:04:36.632
0,2.8287525997,16998739,15165766,43750,381851,2021-11-25 09:00:47.897,3401,429002,1832973,14736764,708,20211125,00:00,null

In [6]:
# 공공데이터포털의 일일값의 합과 누적값에 차이 있어
# 명확한 가이드라인이 주어지지 않으면 누적값을 차분에 계산

# 숫자여야 할 열(누적확진자)이 object로 되어있으므로 숫자로 형변환 필요
df_conf_1.iloc[:,7] = df_conf_1.iloc[:,7].apply(pd.to_numeric)

# 누적확진자를 일일확진자로 변경
# 전날 decideCnt - 당일 decideCnt = 당일 확진자 수
df_conf_1['daily_decideCnt'] = df_conf_1['decideCnt'].diff()


# 숫자여야 할 열(누적 사망자 수)이 object로 되어있으므로 숫자로 형변환
df_conf_1.iloc[:,6] = df_conf_1.iloc[:,6].apply(pd.to_numeric)

# 누적 사망자를 일일 사망자로 변경
# 전날 deathCnt - 당일 deathCnt = 당일 사망자 수
df_conf_1['daily_deathCnt'] = df_conf_1['deathCnt'].diff()


# 숫자여야 할 열(누적검사수)이 object로 되어있으므로 숫자로 형변환 필요
df_conf_1.iloc[:,1] = df_conf_1.iloc[:,1].apply(pd.to_numeric)
# 누적검사수를 일일검사수로 변경
df_conf_1['daily_ExamCnt'] = df_conf_1['accExamCnt'].diff()

# 날짜, 확진자 수, 누적 확진자 수, 사망자 수, 누적 사망자 수, 검사자 수, 누적 검사자 수
# 1차 백신 접종자 수, 누적 1차 백신 접종자 수, 2차 백신 접종자 수, 누적 2차 백신 접종자 수
df_conf_2 = df_conf_1[['stateDt','daily_decideCnt','decideCnt','daily_deathCnt','deathCnt','daily_ExamCnt','accExamCnt']]

df_conf_2.columns = ['날짜','확진자 수','누적 확진자 수','사망자 수','누적 사망자 수','검사자 수','누적 검사자 수']

In [7]:
df_conf_2

           날짜   확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
674  20200120     NaN         1    NaN         0      NaN         4
673  20200121     0.0         1    0.0         0     11.0        15
672  20200122     0.0         1    0.0         0      6.0        21
671  20200123     0.0         1    0.0         0      4.0        25
670  20200124     1.0         2    0.0         0      4.0        29
..        ...     ...       ...    ...       ...      ...       ...
4    20211121  3120.0    415423   30.0      3274  37560.0  16777680
3    20211122  2827.0    418250   24.0      3298  38937.0  16816617
2    20211123  2699.0    420949   30.0      3328  62341.0  16878958
1    20211124  4115.0    425064   34.0      3362  60970.0  16939928
0    20211125  3938.0    429002   39.0      3401  58811.0  16998739

[675 rows x 7 columns]

In [8]:
df_conf_2.loc[df_conf_2['날짜'] == '20200120', '확진자 수'] = '1'
df_conf_2

C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

           날짜   확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
674  20200120       1         1    NaN         0      NaN         4
673  20200121     0.0         1    0.0         0     11.0        15
672  20200122     0.0         1    0.0         0      6.0        21
671  20200123     0.0         1    0.0         0      4.0        25
670  20200124     1.0         2    0.0         0      4.0        29
..        ...     ...       ...    ...       ...      ...       ...
4    20211121  3120.0    415423   30.0      3274  37560.0  16777680
3    20211122  2827.0    418250   24.0      3298  38937.0  16816617
2    20211123  2699.0    420949   30.0      3328  62341.0  16878958
1    20211124  4115.0    425064   34.0      3362  60970.0  16939928
0    20211125  3938.0    429002   39.0      3401  58811.0  16998739

[675 rows x 7 columns]

In [9]:
df_conf_2.head(50)

           날짜  확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
674  20200120      1         1    NaN         0      NaN         4
673  20200121    0.0         1    0.0         0     11.0        15
672  20200122    0.0         1    0.0         0      6.0        21
671  20200123    0.0         1    0.0         0      4.0        25
670  20200124    1.0         2    0.0         0      4.0        29
669  20200125    0.0         2    0.0         0     18.0        47
668  20200126    1.0         3    0.0         0      9.0        56
667  20200127    1.0         4    0.0         0     28.0        84
666  20200128    0.0         4    0.0         0     53.0       137
665  20200129    0.0         4    0.0         0     71.0       208
664  20200130    3.0         7    0.0         0     67.0       275
663  20200131    4.0        11    0.0         0     60.0       335
662  20200201    1.0        12    0.0         0     36.0       371
661  20200202    3.0        15    0.0         0     58.0       429
660  20200203    0.0        15    0.0         0     61.0       490
659  20200204    1.0        16    0.0         0    117.0       607
658  20200205    5.0        21    0.0         0    107.0       714
657  20200206    3.0        24    0.0         0    171.0       885
656  20200207    0.0        24    0.0         0    245.0      1130
655  20200208    0.0        24    0.0         0    571.0      1701
654  20200209    3.0        27    0.0         0    639.0      2340
653  20200210    1.0        28    0.0         0    436.0      2776
652  20200211    0.0        28    0.0         0    853.0      3629
651  20200212    0.0        28    0.0         0   1445.0      5074
650  20200213    0.0        28    0.0         0    723.0      5797
649  20200214    0.0        28    0.0         0   1057.0      6854
648  20200215    0.0        28    0.0         0    665.0      7519
647  20200216    2.0        30    0.0         0    400.0      7919
646  20200217    0.0        30    0.0         0    252.0      8171
645  20200218    2.0        32    0.0         0   1094.0      9265
644  20200219   34.0        66    0.0         0   1146.0     10411
643  20200220   16.0        82    1.0         1   1750.0     12161
642  20200221   74.0       156    0.0         1   2655.0     14816
641  20200222  190.0       346    2.0         3   4805.0     19621
640  20200223  210.0       556    0.0         3   3012.0     22633
639  20200224  207.0       763    4.0         7   5982.0     28615
638  20200225  130.0       893    1.0         8   8101.0     36716
637  20200226  253.0      1146    3.0        11   9411.0     46127
636  20200227  449.0      1595    1.0        12  11863.0     57990
635  20200228  427.0      2022    1.0        13  12950.0     70940
634  20200229  909.0      2931    3.0        16  14753.0     85693
633  20200301  595.0      3526    1.0        17  11292.0     96985
632  20200302  686.0      4212    6.0        23  12606.0    109591
631  20200303  600.0      4812    5.0        28  16260.0    125851
630  20200304  516.0      5328    4.0        32  10856.0    136707
629  20200305  438.0      5766    3.0        35   9834.0    146541
628  20200306  518.0      6284    7.0        42  18199.0    164740
627  20200307  483.0      6767    2.0        44  13449.0    178189
626  20200308  367.0      7134    6.0        50  10329.0    188518
625  20200309  248.0      7382    1.0        51   8100.0    196618

In [10]:
df_conf_2.tail(20)

          날짜   확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
19  20211106  2246.0    377708   20.0      2956  47518.0  16099185
18  20211107  2225.0    379933   11.0      2967  31687.0  16130872
17  20211108  1754.0    381687   13.0      2980  29956.0  16160828
16  20211109  1717.0    383404   18.0      2998  52042.0  16212870
15  20211110  2425.0    385829   14.0      3012  49007.0  16261877
14  20211111  2518.0    388347   21.0      3033  50894.0  16312771
13  20211112  2368.0    390715   18.0      3051  48257.0  16361028
12  20211113  2324.0    393039   32.0      3083  47570.0  16408598
11  20211114  2418.0    395457   20.0      3103  31829.0  16440427
10  20211115  2004.0    397461   12.0      3115  30542.0  16470969
9   20211116  2122.0    399583   22.0      3137  54415.0  16525384
8   20211117  3189.0    402772   21.0      3158  50496.0  16575880
7   20211118  3292.0    406064   29.0      3187  55393.0  16631273
6   20211119  3034.0    409098   28.0      3215  52896.0  16684169
5   20211120  3205.0    412303   29.0      3244  55951.0  16740120
4   20211121  3120.0    415423   30.0      3274  37560.0  16777680
3   20211122  2827.0    418250   24.0      3298  38937.0  16816617
2   20211123  2699.0    420949   30.0      3328  62341.0  16878958
1   20211124  4115.0    425064   34.0      3362  60970.0  16939928
0   20211125  3938.0    429002   39.0      3401  58811.0  16998739

## 시트별로 저장하기

- 현재 날짜에 맞춰 '2021년  N월 M주차_국내 코로나 확진자-백신접종자 현황'으로 저장하기

In [4]:
import datetime as dt
from datetime import datetime, timedelta

def get_date(y, m, d):
    s = f'{y:04d}-{m:02d}-{d:02d}'
    return datetime.strptime(s, '%Y-%m-%d')

def get_week_no(y, m, d):
    target = get_date(y, m, d)
    firstday = target.replace(day = 1)
    if firstday.weekday() == 6:
        origin = firstday
    elif firstday.weekday() < 3:
        origin = firstday - timedelta(days=firstday.weekday() + 1)
    else:
        origin = firstday + timedelta(days = 6-firstday.weekday())
    return (target - origin).days // 7 + 1

In [120]:
n = dt.datetime.now()

writer = pd.ExcelWriter('국내 코로나 확진자-지역별 현황_{}년 {}월 {}주차.xlsx'
                        .format(n.year, n.month, get_week_no(n.year, n.month, n.day)), 
                        engine = 'xlsxwriter')

In [121]:
# 미술관 + 박물관
region = ['서울시', '과천시', '청주시', '경주시', '광주시', '전주시', '부여시', '공주시', '진주시', '대구시', '김해시', '제주시', '춘천시', '나주시', '익산시']

In [123]:
df_list = []

for i in range(len(region)):
    df_list.append(pd.DataFrame())

In [124]:
len(df_list)

15

In [125]:
for i, df in enumerate(df_list):
    df.to_excel(writer, index = False, sheet_name = region[i])
    
writer.save()