# 코로나 감염 현황 API

- 보건복지부
- https://www.data.go.kr/data/15043376/openapi.do

- 코로나19감염증으로 인한 일별 확진자, 완치자, 치료중인환자, 사망자등에 대한 현황자료

- 	01.보건복지부_OpenAPI활용가이드_코로나바이러스감염증_감염현황 조회 서비스_v0.3 (11).docx 참고 하여 작성


- 보건복지부 감염 현황 api의 결과 == 질병관리청 확진자 수 비교해서 같으면 사용하기 


- 날짜 / 확진자 수 / 누적 확진자 수 / 사망자 수 / 누적 사망자 수 / 검사자 수 / 누적 검사자 수

- resultCode	결과코드
- resultMsg	결과메세지
- numOfRows	한 페이지 결과 수
- pageNo	페이지 수
- totalCount	전체 결과 수
- SEQ	게시글번호(감염현황 고유값)
- **STATE_DT	기준일**
- STATE_TIME	기준시간
- **DECIDE_CNT	확진자 수**
- CLEAR_CNT	격리해제 수
- EXAM_CNT	검사진행 수
- **DEATH_CNT	사망자 수**
- CARE_CNT	치료중 환자 수
- RESUTL_NEG_CNT	결과 음성 수
- ACC_EXAM_CNT	누적 검사 수
- ACC_EXAM_COMP_CNT	누적 검사 완료 수
- ACC_DEF_RATE	누적 확진률
- CREATE_DT	등록일시분초
- UPDATE_DT	수정일시분초

In [1]:
import urllib.request
import json
import pandas as pd
from datetime import datetime,timedelta
import requests
import xmltodict

## 코로나19감염증으로 인한 일별 확진자, 완치자, 치료중인환자, 사망자등에 대한 현황자료
url_base = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson'
url_serviceKey = 'zDi7%2BxdkbZUvy%2Bw2jREuuky26qthb6FliCJd4uJTY8qOo02u2VFch2k2zvE0GKtsF8nLCKxd7WqoNvU%2BuvCaUQ%3D%3D'
url_numOfRows = '1000'
url_start_date = '20200120'
url_end_date = datetime.today().strftime('%Y%m%d') # 현재시간 기준으로 데이터 불러오기

# Call Back URL + 인증키 +  페이지 번호(= 1) + 한 페이지 결과 수 + 데이터 생성일 시작 범위 + 데이터 생성일 종료 범위
url = url_base + '?serviceKey=' + url_serviceKey + '&pageNo=1' + '&num0fRows=' + url_numOfRows + '&startCreateDt=' + url_start_date + '&endCreateDt=' + url_end_date
url

'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey=zDi7%2BxdkbZUvy%2Bw2jREuuky26qthb6FliCJd4uJTY8qOo02u2VFch2k2zvE0GKtsF8nLCKxd7WqoNvU%2BuvCaUQ%3D%3D&pageNo=1&num0fRows=1000&startCreateDt=20200120&endCreateDt=20211130'

In [2]:
req = requests.get(url).content

xmlObject = xmltodict.parse(req)
dict_data = xmlObject['response']['body']['items']['item']

df_conf = pd.DataFrame(dict_data)

In [3]:
df_conf

,accDefRate,accExamCnt,accExamCompCnt,careCnt,clearCnt,createDt,deathCnt,decideCnt,examCnt,resutlNegCnt,seq,stateDt,stateTime,updateDt
0,2.9312191520,17265265,15257474,47536,396070,2021-11-30 09:02:25.81,3624,447230,2007791,14810244,713,20211130,00:00,null
1,2.9187254823,17200331,15218903,47001,393617,2021-11-29 09:05:16.736,3580,444198,1981428,14774705,712,20211129,00:00,2021-11-30 09:08:26.222
2,2.8973317465,17158540,15217070,45030,392311,2021-11-28 08:58:53.394,3548,440889,1941470,14776181,711,20211128,00:00,2021-11-30 09:08:16.311
3,2.8731774285,17115759,15208389,43331,390141,2021-11-27 09:32:36.026,3492,436964,1907370,14771425,710,20211127,00:00,2021-11-30 09:08:02.939
4,2.8512243356,17056008,15182846,45906,383551,2021-11-26 09:03:03.973,3440,432897,1873162,14749949,709,20211126,00:00,2021-11-30 09:07:52.198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,6.896551724,29,29,2,0,2020-01-24 00:00:00.000,0,2,0,27,5,20200124,00:00,2021-10-07 10:30:51.51
676,4,25,25,1,0,2020-01-23 09:00:00.000,0,1,0,24,4,20200123,09:00,2021-10-07 10:30:51.51
677,4.761904762,21,21,1,0,2020-01-22 12:00:00.000,0,1,0,20,3,20200122,12:00,2021-10-07 10:30:51.51
678,6.666666667,15,15,1,0,2020-01-21 09:00:00.000,0,1,0,14,2,20200121,09:00,2021-10-07 10:30:51.51
679,25,4,4,1,0,2020-01-20 17:00:00.000,0,1,0,3,1,20200120,17:00,2021-10-07 10:30:51.51

In [4]:
# 20210531 데이터 없음
df_21_05 = df_conf[df_conf['stateDt'].str.contains('202105')]
df_21_05.head(10)

,accDefRate,accExamCnt,accExamCompCnt,careCnt,clearCnt,createDt,deathCnt,decideCnt,examCnt,resutlNegCnt,seq,stateDt,stateTime,updateDt
183,1.4568051768,9761156,9633203,7561,130817,2021-05-30 00:00:00.0,1959,140337,127953,9492866,498,20210531,00:00,2021-10-14 13:48:56.821
184,1.454165571,9747612,9621119,7576,130374,2021-05-30 00:00:00.000,1957,139907,126493,9481212,497,20210530,00:00,2021-10-07 10:30:51.51
185,1.450883775,9733588,9609798,7745,129731,2021-05-29 00:00:00.000,1951,139427,123790,9470371,496,20210529,00:00,2021-10-07 10:30:51.51
186,1.449896399,9702453,9579581,8198,128750,2021-05-28 00:00:00.000,1946,138894,122872,9440687,495,20210528,00:00,2021-10-07 10:30:51.51
187,1.449298446,9665690,9543031,8195,128169,2021-05-27 00:00:00.000,1943,138307,122659,9404724,494,20210527,00:00,2021-10-07 10:30:51.51
188,1.447963934,9629455,9508386,8176,127562,2021-05-26 00:00:00.000,1940,137678,121069,9370708,493,20210526,00:00,2021-10-07 10:30:51.51
189,1.445529521,9592726,9475628,8052,126983,2021-05-25 00:00:00.000,1938,136973,117098,9338655,492,20210525,00:00,2021-10-07 10:30:51.51
190,1.446605861,9553612,9432908,8105,126418,2021-05-24 00:00:00.000,1934,136457,120704,9296451,491,20210524,00:00,2021-10-07 10:30:51.51
191,1.443871791,9536298,9414063,8165,125831,2021-05-23 00:00:00.000,1931,135927,122235,9278136,490,20210523,00:00,2021-10-07 10:30:51.51
192,1.439286846,9520965,9403407,8392,125024,2021-05-22 00:00:00.000,1926,135342,117558,9268065,489,20210522,00:00,2021-10-07 10:30:51.51

In [5]:
# 불러온 데이터 중 하루에 두 번 이상 데이터가 존재하는 경우를 대비해(오전, 오후), 하루 중 마지막에 발표한 데이터로 중복 처리
df_conf = df_conf.drop_duplicates(['stateDt'])

# 데이터를 날짜순으로 오름차순 정리
df_conf_1 = df_conf.sort_values(by='stateDt')
df_conf_1

,accDefRate,accExamCnt,accExamCompCnt,careCnt,clearCnt,createDt,deathCnt,decideCnt,examCnt,resutlNegCnt,seq,stateDt,stateTime,updateDt
679,25,4,4,1,0,2020-01-20 17:00:00.000,0,1,0,3,1,20200120,17:00,2021-10-07 10:30:51.51
678,6.666666667,15,15,1,0,2020-01-21 09:00:00.000,0,1,0,14,2,20200121,09:00,2021-10-07 10:30:51.51
677,4.761904762,21,21,1,0,2020-01-22 12:00:00.000,0,1,0,20,3,20200122,12:00,2021-10-07 10:30:51.51
676,4,25,25,1,0,2020-01-23 09:00:00.000,0,1,0,24,4,20200123,09:00,2021-10-07 10:30:51.51
675,6.896551724,29,29,2,0,2020-01-24 00:00:00.000,0,2,0,27,5,20200124,00:00,2021-10-07 10:30:51.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2.8512243356,17056008,15182846,45906,383551,2021-11-26 09:03:03.973,3440,432897,1873162,14749949,709,20211126,00:00,2021-11-30 09:07:52.198
3,2.8731774285,17115759,15208389,43331,390141,2021-11-27 09:32:36.026,3492,436964,1907370,14771425,710,20211127,00:00,2021-11-30 09:08:02.939
2,2.8973317465,17158540,15217070,45030,392311,2021-11-28 08:58:53.394,3548,440889,1941470,14776181,711,20211128,00:00,2021-11-30 09:08:16.311
1,2.9187254823,17200331,15218903,47001,393617,2021-11-29 09:05:16.736,3580,444198,1981428,14774705,712,20211129,00:00,2021-11-30 09:08:26.222
0,2.9312191520,17265265,15257474,47536,396070,2021-11-30 09:02:25.81,3624,447230,2007791,14810244,713,20211130,00:00,null

In [6]:
# 공공데이터포털의 일일값의 합과 누적값에 차이 있어
# 명확한 가이드라인이 주어지지 않으면 누적값을 차분에 계산

# 숫자여야 할 열(누적확진자)이 object로 되어있으므로 숫자로 형변환 필요
df_conf_1.iloc[:,7] = df_conf_1.iloc[:,7].apply(pd.to_numeric)

# 누적확진자를 일일확진자로 변경
# 전날 decideCnt - 당일 decideCnt = 당일 확진자 수
df_conf_1['daily_decideCnt'] = df_conf_1['decideCnt'].diff()


# 숫자여야 할 열(누적 사망자 수)이 object로 되어있으므로 숫자로 형변환
df_conf_1.iloc[:,6] = df_conf_1.iloc[:,6].apply(pd.to_numeric)

# 누적 사망자를 일일 사망자로 변경
# 전날 deathCnt - 당일 deathCnt = 당일 사망자 수
df_conf_1['daily_deathCnt'] = df_conf_1['deathCnt'].diff()


# 숫자여야 할 열(누적검사수)이 object로 되어있으므로 숫자로 형변환 필요
df_conf_1.iloc[:,1] = df_conf_1.iloc[:,1].apply(pd.to_numeric)
# 누적검사수를 일일검사수로 변경
df_conf_1['daily_ExamCnt'] = df_conf_1['accExamCnt'].diff()

# 날짜, 확진자 수, 누적 확진자 수, 사망자 수, 누적 사망자 수, 검사자 수, 누적 검사자 수
# 1차 백신 접종자 수, 누적 1차 백신 접종자 수, 2차 백신 접종자 수, 누적 2차 백신 접종자 수
df_conf_2 = df_conf_1[['stateDt','daily_decideCnt','decideCnt','daily_deathCnt','deathCnt','daily_ExamCnt','accExamCnt']]

df_conf_2.columns = ['날짜','확진자 수','누적 확진자 수','사망자 수','누적 사망자 수','검사자 수','누적 검사자 수']

In [7]:
df_conf_2

           날짜   확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
679  20200120     NaN         1    NaN         0      NaN         4
678  20200121     0.0         1    0.0         0     11.0        15
677  20200122     0.0         1    0.0         0      6.0        21
676  20200123     0.0         1    0.0         0      4.0        25
675  20200124     1.0         2    0.0         0      4.0        29
..        ...     ...       ...    ...       ...      ...       ...
4    20211126  3899.0    432897   39.0      3440  57273.0  17056008
3    20211127  4067.0    436964   52.0      3492  59751.0  17115759
2    20211128  3925.0    440889   56.0      3548  42781.0  17158540
1    20211129  3309.0    444198   32.0      3580  41791.0  17200331
0    20211130  3032.0    447230   44.0      3624  64934.0  17265265

[680 rows x 7 columns]

In [8]:
df_conf_2.loc[df_conf_2['날짜'] == '20200120', '확진자 수'] = '1'
df_conf_2

/Users/hyeonjiwon/opt/anaconda3/envs/notebook/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

           날짜   확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
679  20200120       1         1    NaN         0      NaN         4
678  20200121     0.0         1    0.0         0     11.0        15
677  20200122     0.0         1    0.0         0      6.0        21
676  20200123     0.0         1    0.0         0      4.0        25
675  20200124     1.0         2    0.0         0      4.0        29
..        ...     ...       ...    ...       ...      ...       ...
4    20211126  3899.0    432897   39.0      3440  57273.0  17056008
3    20211127  4067.0    436964   52.0      3492  59751.0  17115759
2    20211128  3925.0    440889   56.0      3548  42781.0  17158540
1    20211129  3309.0    444198   32.0      3580  41791.0  17200331
0    20211130  3032.0    447230   44.0      3624  64934.0  17265265

[680 rows x 7 columns]

In [9]:
df_conf_2.head(50)

           날짜  확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
679  20200120      1         1    NaN         0      NaN         4
678  20200121    0.0         1    0.0         0     11.0        15
677  20200122    0.0         1    0.0         0      6.0        21
676  20200123    0.0         1    0.0         0      4.0        25
675  20200124    1.0         2    0.0         0      4.0        29
674  20200125    0.0         2    0.0         0     18.0        47
673  20200126    1.0         3    0.0         0      9.0        56
672  20200127    1.0         4    0.0         0     28.0        84
671  20200128    0.0         4    0.0         0     53.0       137
670  20200129    0.0         4    0.0         0     71.0       208
669  20200130    3.0         7    0.0         0     67.0       275
668  20200131    4.0        11    0.0         0     60.0       335
667  20200201    1.0        12    0.0         0     36.0       371
666  20200202    3.0        15    0.0         0     58.0       429
665  20200203    0.0        15    0.0         0     61.0       490
664  20200204    1.0        16    0.0         0    117.0       607
663  20200205    5.0        21    0.0         0    107.0       714
662  20200206    3.0        24    0.0         0    171.0       885
661  20200207    0.0        24    0.0         0    245.0      1130
660  20200208    0.0        24    0.0         0    571.0      1701
659  20200209    3.0        27    0.0         0    639.0      2340
658  20200210    1.0        28    0.0         0    436.0      2776
657  20200211    0.0        28    0.0         0    853.0      3629
656  20200212    0.0        28    0.0         0   1445.0      5074
655  20200213    0.0        28    0.0         0    723.0      5797
654  20200214    0.0        28    0.0         0   1057.0      6854
653  20200215    0.0        28    0.0         0    665.0      7519
652  20200216    2.0        30    0.0         0    400.0      7919
651  20200217    0.0        30    0.0         0    252.0      8171
650  20200218    2.0        32    0.0         0   1094.0      9265
649  20200219   34.0        66    0.0         0   1146.0     10411
648  20200220   16.0        82    1.0         1   1750.0     12161
647  20200221   74.0       156    0.0         1   2655.0     14816
646  20200222  190.0       346    2.0         3   4805.0     19621
645  20200223  210.0       556    0.0         3   3012.0     22633
644  20200224  207.0       763    4.0         7   5982.0     28615
643  20200225  130.0       893    1.0         8   8101.0     36716
642  20200226  253.0      1146    3.0        11   9411.0     46127
641  20200227  449.0      1595    1.0        12  11863.0     57990
640  20200228  427.0      2022    1.0        13  12950.0     70940
639  20200229  909.0      2931    3.0        16  14753.0     85693
638  20200301  595.0      3526    1.0        17  11292.0     96985
637  20200302  686.0      4212    6.0        23  12606.0    109591
636  20200303  600.0      4812    5.0        28  16260.0    125851
635  20200304  516.0      5328    4.0        32  10856.0    136707
634  20200305  438.0      5766    3.0        35   9834.0    146541
633  20200306  518.0      6284    7.0        42  18199.0    164740
632  20200307  483.0      6767    2.0        44  13449.0    178189
631  20200308  367.0      7134    6.0        50  10329.0    188518
630  20200309  248.0      7382    1.0        51   8100.0    196618

In [10]:
df_conf_2.tail(20)

          날짜   확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
19  20211111  2518.0    388347   21.0      3033  50894.0  16312771
18  20211112  2368.0    390715   18.0      3051  48257.0  16361028
17  20211113  2324.0    393039   32.0      3083  47570.0  16408598
16  20211114  2418.0    395457   20.0      3103  31829.0  16440427
15  20211115  2004.0    397461   12.0      3115  30542.0  16470969
14  20211116  2122.0    399583   22.0      3137  54415.0  16525384
13  20211117  3189.0    402772   21.0      3158  50496.0  16575880
12  20211118  3292.0    406064   29.0      3187  55393.0  16631273
11  20211119  3033.0    409097   28.0      3215  52895.0  16684168
10  20211120  3205.0    412302   29.0      3244  55951.0  16740119
9   20211121  3120.0    415422   30.0      3274  37560.0  16777679
8   20211122  2827.0    418249   24.0      3298  38937.0  16816616
7   20211123  2697.0    420946   30.0      3328  62339.0  16878955
6   20211124  4115.0    425061   34.0      3362  60970.0  16939925
5   20211125  3937.0    428998   39.0      3401  58810.0  16998735
4   20211126  3899.0    432897   39.0      3440  57273.0  17056008
3   20211127  4067.0    436964   52.0      3492  59751.0  17115759
2   20211128  3925.0    440889   56.0      3548  42781.0  17158540
1   20211129  3309.0    444198   32.0      3580  41791.0  17200331
0   20211130  3032.0    447230   44.0      3624  64934.0  17265265

# 코로나 백신 예방접종 현황 API

- 공공데이터활용지원센터
- https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15077756#tab_layer_detail_function

- 보건복지부 접종자 수 질병관리청 접종자 수 비교해서 같으면 사용하기 

- 날짜 / 1차 백신 접종자 수 / 누적 1차 백신 접종자 수 / 2차 백신 접종자 수 / 누적 2차 백신 접종자 수

- baseDate	통계 기준일자

- sido	지역명칭

- firstCnt	당일 통계(1차 접종)

- secondCnt	당일 통계(2차 접종)

- totalFirstCnt	전체 누적 통계(1차 접종)

- totalSecondCnt	전체 누적 통계(2차 접종)

- accumulatedFirstCnt	    전일까지의 누적 통계 (1차 접종)

- accumulatedSecondCnt	전일까지의 누적 통계 (2차 접종)

In [11]:
# 한국의 백신 접종자 수 분석
# https://gunn.kim/post/2020-06-13-seoul-metro-data-openapi/
import urllib.request
import json
import pandas as pd 


perPage = '10000'

url = 'https://api.odcloud.kr/api/15077756/v1/vaccine-stat?serviceKey=SAJ%2FFc5PaHo%2FvmwRQl7j9ul5jp43QfUVR9xuEjZMqoL0B6W%2B%2F%2FRR5JDSY1JN%2BDBIhTDheUhdhBZqR%2FGVOQP%2Btg%3D%3D&page=1&perPage=' + perPage 

response = urllib.request.urlopen(url)
json_str = response.read().decode('utf-8')
json_object = json.loads(json_str)

df_vac = pd.json_normalize(json_object['data'])

is_korea = df_vac['sido'] == '전국'
df_vac_1 = df_vac[is_korea]

In [12]:
df_vac_1

,accumulatedFirstCnt,accumulatedSecondCnt,accumulatedThirdCnt,baseDate,firstCnt,id,secondCnt,sido,thirdCnt,totalFirstCnt,totalSecondCnt,totalThirdCnt
0,449535,0,0,2021-03-11 00:00:00,51100,1,0,전국,0,500635,0,0
18,503750,0,0,2021-03-12 00:00:00,42527,19,0,전국,0,546277,0,0
36,547974,0,0,2021-03-13 00:00:00,35684,37,0,전국,0,583658,0,0
54,584397,0,0,2021-03-14 00:00:00,3487,55,0,전국,0,587884,0,0
72,587884,0,0,2021-03-15 00:00:00,1074,73,0,전국,0,588958,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4686,42371447,40697935,2271432,2021-11-26 00:00:00,47564,4687,66613,전국,193366,42419011,40764548,2464798
4704,42421599,40767383,2478097,2021-11-27 00:00:00,54302,4705,84823,전국,284323,42475901,40852206,2762420
4722,42477694,40855164,2771713,2021-11-28 00:00:00,32431,4723,45760,전국,70433,42510125,40900924,2842146
4740,42510156,40900976,2842836,2021-11-29 00:00:00,965,4741,1777,전국,2561,42511121,40902753,2845397
4758,42513564,40905177,2851899,2021-11-30 00:00:00,31118,4759,106238,전국,177325,42544682,41011415,3029224

In [13]:
# totalFirstCnt(전체 누적 통계(1차 접종)) = accumulatedFirstCnt(전일까지의 누적 통계 (1차 접종)) + firstCnt(당일 통계(1차 접종)) 인데
# 왜 당일의 accumulatedFirstCnt != 전일의 totalFirstCnt가 같지 않을까 ... 
31710830 - 31709767

1063

In [14]:
# 당일 누적 1차 백신 접종자 수를 당일 일일 1차 백신 접종자 수로 변경
df_vac_1['daily_FirstCnt'] = df_vac_1['totalFirstCnt'].diff()

# 당일 누적 2차 백신 접종자당일 일일 2차 백신 접종자 수로 변경
df_vac_1['daily_SecondCnt'] = df_vac_1['totalSecondCnt'].diff()

# '1차 백신 접종자 수','누적 1차 백신 접종자 수','2차 백신 접종자 수','누적 2차 백신 접종자 수'
df_vac_2 = df_vac_1[['baseDate','daily_FirstCnt','totalFirstCnt','daily_SecondCnt','totalSecondCnt']]

# 날짜 형식 통일
import datetime

for i in range(len(df_vac_2)):
    df_vac_2.iloc[i,0] = datetime.datetime.strptime(df_vac_2.iloc[i,0], '%Y-%m-%d %H:%M:%S').strftime('%Y%m%d')

df_vac_2.columns = ['날짜','1차 백신 접종자 수','누적 1차 백신 접종자 수','2차 백신 접종자 수','누적 2차 백신 접종자 수']
df_vac_2

# 백신접종시작일인 21년 2월 27일 데이터부터 3월 11일까지의 데이터가 생략되어 있음. 후에 추가로 생성 예정

<ipython-input-14-1662f34d8c0d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac_1['daily_FirstCnt'] = df_vac_1['totalFirstCnt'].diff()
<ipython-input-14-1662f34d8c0d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac_1['daily_SecondCnt'] = df_vac_1['totalSecondCnt'].diff()
/Users/hyeonjiwon/opt/anaconda3/envs/notebook/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

            날짜  1차 백신 접종자 수  누적 1차 백신 접종자 수  2차 백신 접종자 수  누적 2차 백신 접종자 수
0     20210311          NaN          500635          NaN               0
18    20210312      45642.0          546277          0.0               0
36    20210313      37381.0          583658          0.0               0
54    20210314       4226.0          587884          0.0               0
72    20210315       1074.0          588958          0.0               0
...        ...          ...             ...          ...             ...
4686  20211126      49663.0        42419011      68627.0        40764548
4704  20211127      56890.0        42475901      87658.0        40852206
4722  20211128      34224.0        42510125      48718.0        40900924
4740  20211129        996.0        42511121       1829.0        40902753
4758  20211130      33561.0        42544682     108662.0        41011415

[265 rows x 5 columns]

In [15]:
# 공공데이터포털의 오픈API에서 불러오는 데이터에 수정이 있을 경우 삭제 가능

vac_dat = pd.DataFrame({"날짜":['20210227','20210228','20210301','20210302','20210303','20210304','20210305','20210306','20210307',
                    '20210308','20210309','20210310','20210311'],
              "1차 백신 접종자 수":[18489, 1833, 855, 1909, 64342, 66993, 71432, 70527, 18276, 2209, 66481, 63595, 53694],
              "누적 1차 백신 접종자 수":[18489, 20322, 21177, 23086, 87428, 154421, 225853, 296380, 314656, 316865, 383346, 446941, 500635]})

df_vac_3 = pd.concat([vac_dat, df_vac_2.iloc[1:,]], ignore_index = True)

In [16]:
df_vac_3

           날짜  1차 백신 접종자 수  누적 1차 백신 접종자 수  2차 백신 접종자 수  누적 2차 백신 접종자 수
0    20210227      18489.0           18489          NaN             NaN
1    20210228       1833.0           20322          NaN             NaN
2    20210301        855.0           21177          NaN             NaN
3    20210302       1909.0           23086          NaN             NaN
4    20210303      64342.0           87428          NaN             NaN
..        ...          ...             ...          ...             ...
272  20211126      49663.0        42419011      68627.0      40764548.0
273  20211127      56890.0        42475901      87658.0      40852206.0
274  20211128      34224.0        42510125      48718.0      40900924.0
275  20211129        996.0        42511121       1829.0      40902753.0
276  20211130      33561.0        42544682     108662.0      41011415.0

[277 rows x 5 columns]

In [17]:
import pandas as pd
from pandas import DataFrame
import datetime

# 대한민국 데이터 확진자수와 백신접종자 수 날짜를 기준으로 JOIN연산
data_kor = pd.merge(df_conf_2, df_vac_3, how = 'left',on='날짜')

for i in range(len(data_kor)):
    data_kor.iloc[i,0] = datetime.datetime.strptime(data_kor.iloc[i,0],'%Y%m%d').strftime('%Y-%m-%d')

data_kor

,날짜,확진자 수,누적 확진자 수,사망자 수,누적 사망자 수,검사자 수,누적 검사자 수,1차 백신 접종자 수,누적 1차 백신 접종자 수,2차 백신 접종자 수,누적 2차 백신 접종자 수
0,2020-01-20,1,1,NaN,0,NaN,4,NaN,NaN,NaN,NaN
1,2020-01-21,0.0,1,0.0,0,11.0,15,NaN,NaN,NaN,NaN
2,2020-01-22,0.0,1,0.0,0,6.0,21,NaN,NaN,NaN,NaN
3,2020-01-23,0.0,1,0.0,0,4.0,25,NaN,NaN,NaN,NaN
4,2020-01-24,1.0,2,0.0,0,4.0,29,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
675,2021-11-26,3899.0,432897,39.0,3440,57273.0,17056008,49663.0,42419011.0,68627.0,40764548.0
676,2021-11-27,4067.0,436964,52.0,3492,59751.0,17115759,56890.0,42475901.0,87658.0,40852206.0
677,2021-11-28,3925.0,440889,56.0,3548,42781.0,17158540,34224.0,42510125.0,48718.0,40900924.0
678,2021-11-29,3309.0,444198,32.0,3580,41791.0,17200331,996.0,42511121.0,1829.0,40902753.0
679,2021-11-30,3032.0,447230,44.0,3624,64934.0,17265265,33561.0,42544682.0,108662.0,41011415.0

In [18]:
# 20210531 데이터 없음
df_21_05 = data_kor[data_kor['날짜'].str.contains('2021-05-')]
df_21_05

,날짜,확진자 수,누적 확진자 수,사망자 수,누적 사망자 수,검사자 수,누적 검사자 수,1차 백신 접종자 수,누적 1차 백신 접종자 수,2차 백신 접종자 수,누적 2차 백신 접종자 수
466,2021-05-01,627.0,122633,3.0,1831,35096.0,8883387,269999.0,3326003.0,29665.0,228399.0
467,2021-05-02,606.0,123239,2.0,1833,14846.0,8898233,69101.0,3395104.0,7789.0,236188.0
468,2021-05-03,488.0,123727,1.0,1834,17092.0,8915325,1760.0,3396864.0,301.0,236489.0
469,2021-05-04,541.0,124268,6.0,1840,41829.0,8957154,70044.0,3466908.0,30543.0,267032.0
470,2021-05-05,676.0,124944,7.0,1847,36914.0,8994068,63106.0,3530014.0,31160.0,298192.0
471,2021-05-06,574.0,125518,4.0,1851,16923.0,9010991,30310.0,3560324.0,25313.0,323505.0
472,2021-05-07,525.0,126043,9.0,1860,40362.0,9051353,48292.0,3608616.0,73685.0,397190.0
473,2021-05-08,701.0,126744,5.0,1865,37812.0,9089165,53971.0,3662587.0,76804.0,473994.0
474,2021-05-09,564.0,127308,9.0,1874,16605.0,9105770,12095.0,3674682.0,27545.0,501539.0
475,2021-05-10,463.0,127771,1.0,1875,16288.0,9122058,47.0,3674729.0,4735.0,506274.0
476,2021-05-11,510.0,128281,4.0,1879,42225.0,9164283,17837.0,3692566.0,77739.0,584013.0
477,2021-05-12,634.0,128915,5.0,1884,37255.0,9201538,6091.0,3698657.0,80800.0,664813.0
478,2021-05-13,715.0,129630,7.0,1891,39614.0,9241152,12366.0,3711023.0,82894.0,747707.0
479,2021-05-14,747.0,130377,2.0,1893,40138.0,9281290,8960.0,3719983.0,77993.0,825700.0
480,2021-05-15,681.0,131058,3.0,1896,37803.0,9319093,11238.0,3731221.0,79720.0,905420.0
481,2021-05-16,610.0,131668,4.0,1900,17520.0,9336613,2575.0,3733796.0,29937.0,935357.0
482,2021-05-17,619.0,132287,3.0,1903,16686.0,9353299,10.0,3733806.0,4988.0,940345.0
483,2021-05-18,528.0,132815,1.0,1904,41704.0,9395003,12128.0,3745934.0,99297.0,1039642.0
484,2021-05-19,654.0,133469,8.0,1912,33640.0,9428643,13124.0,3759058.0,140639.0,1180281.0
485,2021-05-20,646.0,134115,4.0,1916,18714.0,9447357,1882.0,3760940.0,92929.0,1273210.0
486,2021-05-21,561.0,134676,6.0,1922,39750.0,9487107,11659.0,3772599.0,209632.0,1482842.0
487,2021-05-22,666.0,135342,4.0,1926,33858.0,9520965,14971.0,3787570.0,224686.0,1707528.0
488,2021-05-23,585.0,135927,5.0,1931,15333.0,9536298,5090.0,3792660.0,35909.0,1743437.0
489,2021-05-24,530.0,136457,3.0,1934,17314.0,9553612,246.0,3792906.0,2899.0,1746336.0
490,2021-05-25,516.0,136973,4.0,1938,39114.0,9592726,71878.0,3864784.0,104333.0,1850669.0
491,2021-05-26,705.0,137678,2.0,1940,36729.0,9629455,77991.0,3942775.0,94548.0,1945217.0
492,2021-05-27,629.0,138307,3.0,1943,36235.0,9665690,87969.0,4030744.0,67702.0,2012919.0
493,2021-05-28,587.0,138894,3.0,1946,36763.0,9702453,657776.0,4688520.0,55958.0,2068877.0
494,2021-05-29,533.0,139427,5.0,1951,31135.0,9733588,545443.0,5233963.0,64843.0,2133720.0
495,2021-05-30,480.0,139907,6.0,1957,14024.0,9747612,165052.0,5399015.0,9573.0,2143293.0
496,2021-05-31,430.0,140337,2.0,1959,13544.0,9761156,4839.0,5403854.0,92.0,2143385.0

In [19]:
# 현재 날짜에 맞춰 '2021년  N월 M주차_국내 코로나 확진자-백신접종자 현황'으로 저장하기
import datetime as dt
from datetime import datetime, timedelta

def get_date(y, m, d):
    s = f'{y:04d}-{m:02d}-{d:02d}'
    return datetime.strptime(s, '%Y-%m-%d')

def get_week_no(y, m, d):
    target = get_date(y, m, d)
    firstday = target.replace(day = 1)
    if firstday.weekday() == 6:
        origin = firstday
    elif firstday.weekday() < 3:
        origin = firstday - timedelta(days=firstday.weekday() + 1)
    else:
        origin = firstday + timedelta(days = 6-firstday.weekday())
    return (target - origin).days // 7 + 1

# wlsxwriter 라이브러리를 사용해 데이터를 시트별로 저장
import xlsxwriter
import datetime as dt

n = dt.datetime.now()
writer = pd.ExcelWriter('국내 코로나 확진자-백신접종자 현황_{}년 {}월 {}주차.xlsx'
                        .format(n.year, n.month, get_week_no(n.year, n.month, n.day)), 
                        engine = 'xlsxwriter')

data_kor.to_excel(writer, index = False, sheet_name = '대한민국')

writer.save()