## 함수

- 함수(Function)란 특정 작업을 하나의 단위로 묶어 놓은 것을 의미 
- 불필요한 소스코드의 반복을 줄일 수 있음


##### 종류
- 내장 함수 : 파이썬이 기본적으로 제공하는 함수
- 사용자 정의 함수 : 개발자가 직접 정의하여 사용할 수 있는 함수

### 함수 정의하기

- 매개변수 : 함수 내부에서 사용할 변수
- 반환 값 : 함수에서 처리 된 결과를 반환

```python
def 함수명(매개변수):
    실행할 소스코드
    return 반환값
```

In [3]:
# 더하기 
def add(a, b):
    return a + b

result = add(3, 7)
result

10

In [4]:
# 더하기 
def add(a, b):
    print("결과", a + b)

add(3, 7)

결과 10

### 파라미터 지정하기

In [5]:
# 더하기 
def add(a, b):
    print("결과", a + b)

add(b = 3, a = 7)

결과 10

### global

- global 키워드로 변수를 지정하면 해당 함수에서는 지역 변수를 만들지 않고, 함수 바깥에 선언된 변수를 바로 참조

In [18]:
a = 10

def func():
    global a
    
    a += 1
    
for i in range(10):
    func()
    
print(a)

20

In [23]:
array = [i for i in range(1, 6)]

def func():
    array = [3, 4, 5]
    array.append(6)
    print(array)
    
func()
print(array)

[3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [22]:
array = [i for i in range(1, 6)]

def func():
    global array
    array = [3, 4, 5]
    array.append(6)
    print(array)
    
func()
print(array)

[3, 4, 5, 6]
[3, 4, 5, 6]

### 여러 개의 반환 값

In [24]:
def operator(a, b):
    add = a + b
    subtract = a - b
    multiply = a * b
    divide = a / b
    
    return add, subtract, multiply, divide

a, b, c, d = operator(7, 3)
print(a, b, c, d)

10 4 21 2.3333333333333335

## 람다 표현식

- 함수를 간단하게 작성할 수 있음
- 특정 기능을 수행하는 함수를 한 줄에 작성 가능

In [26]:
# 일반적인 함수
def add(a, b):
    return a + b

print(add(3, 7))

10

In [29]:
# 람다 표현식으로 구현한 add()
(lambda a, b : a+b)(3, 7)

10

### 내장 함수에서 자주 사용되는 람다 함수

In [46]:
array = [('홍길동', 50), ('이순신', 32), ('아무개', 74)]

def my_key(x):
    return x[1]

print(sorted(array, key = my_key))

[('이순신', 32), ('홍길동', 50), ('아무개', 74)]

In [49]:
array[1]

('이순신', 32)

In [48]:
sorted(array, key = lambda x : x[1])

[('이순신', 32), ('홍길동', 50), ('아무개', 74)]

In [52]:
# 여러 개의 리스트에 적용

list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

result = map(lambda a, b: a + b, list1, list2)

print(list(result))

[7, 9, 11, 13, 15]